html {
	overflow: hidden;
}

body {
	margin: 0;
	overflow: scroll;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

body,
input,
button {
	font-family: Courier;
}

nav {
	background-color: beige;
	z-index: 1;
	position: sticky;
	top: 0;
	max-height: 3rem;
	height: 3rem;

	ul {
		display: flex;
		margin: 0;
	}
}

li {
	list-style: none;
	margin: 15px;
}

a {
	text-decoration: none;
	color: black;
}

input,
select {
	font-size: 0.875rem;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	font-size: 1rem;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
	gap: 0.25rem;
	min-height: 0;
}

.row {
	flex-direction: row;
	gap: 0.5rem;
	min-width: 0;
}

.wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.container {
	padding: 0.75rem;
	border: 1px solid lightgray;
	border-radius: 0.25rem;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	padding: 0;
	font-weight: 600;
}

fieldset input {
	max-width: 3rem;
}

h3 {
	line-height: 1.5rem;
	margin: 0;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

:root::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
	animation: 90ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@media print {
	body {
		overflow: visible;
	}
}