body {
	margin: 0;
}
nav {
	background-color: beige;
	ul {
		display: flex;
		margin: 0;
	}
}
li {
	list-style: none;
	margin: 15px;
}
a {
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
}
.column {
	flex-direction: column;
	gap: 0.25rem;
}
.row {
	flex-direction: row;
	gap: 0.5rem;
}
