.template-container {
    /* position: sticky; */
    /* top: 3rem; */
    height: calc(100% - 2 * var(--padding));
}

.title {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.title button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.title input {
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    border: none;
    outline: none !important;
}